extends layout
block content

	div.chats-wrapper
		- chats.forEach(function(item) {
			div(class="card bg-light border-secondary")
				img(src="/uploads/user_photos/#{item.user_photo_path}", class="card-img-top user-photo")
				div(class="card-body p-1")
					a(href="/chats/chat-with-#{item.chat_with_id}", class="card-title")= item.chat_with_user
		- });

	script(src="/javascripts/jquery-3.4.1.min.js", type="text/javascript")
	script(src="/javascripts/popper.min.js", type="text/javascript")
	script(src="/bootstrap/js/bootstrap.js", type="text/javascript")