extends layout
block content
	div(class="login-main-wrapper")
		form(action='/signin', method='post')
			div(class="form-group d-flex flex-column login-form-wrapper")
				label(for="login") Имя пользователя
				div(class="input-group")
					div(class="input-group-prepend")
						span(class="input-group-text")
							i(class="fas fa-user")
					input(type='text', name='login', id="login", class="form-control")
				label(for="password") Пароль
				div(class="input-group")
					div(class="input-group-prepend")
						span(class="input-group-text")
							i(class="fas fa-key")
					input(type='password', name='password', id="password", class="form-control")
				input(type='submit', value='Войти', class="btn btn-primary w-100 mt-3")

	script(src="/javascripts/jquery-3.4.1.min.js", type="text/javascript")
	script(src="/javascripts/popper.min.js", type="text/javascript")
	script(src="/bootstrap/js/bootstrap.js", type="text/javascript")