extends layout
block content
	div.messages-wrapper
		- messages.forEach(function(message) {
			div.message
				div.message__author
					p= message.message_author
				div.message__text
					p= message.message_text
		- });


	form(action="/chats/send-message-to-#{recipient_id}", method="POST")
		input(type="text", name="messageText", placeholder="Введите сообщение")
		br
		input(type="submit", name="submit" value="Отправить")