div
    form(action='/register', method='post')
        pre Enter login
        input(type='text', name='login')
        br
        pre Enter password
        input(type='password', name='password')
        br
        pre Select role
        select(size='1', name='role')
            option(value='1') admin
            option(value='2', selected) renter
            option(value='3') landlord
        pre
        input(type='submit', value='send')
