body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

div
  box-sizing: border-box

.navbar
  display: flex
  justify-content: space-between
  width: 50%

.cars-wrapper
  .ad-list

    &__item
      display: flex
      flex-direction: row
      justify-content: flex-start
      margin-top: 10px
      border: 1px solid #6b6a78
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px

      .photo
        align-self: center
        height: 150px
        margin-left: 40px

      .info
        display: flex
        flex-direction: column
        align-items: flex-start
        margin-left: 40px



.view-main-wrapper
  margin-top: 30px

  .wrapper
    display: flex
    justify-content: space-between
    width: 90%

    .slider
      width: 600px
      height: 400px

    .data-wrapper
      display: flex
      justify-content: center
      flex-direction: column
      width: 50%
      margin-left: 20px

      .list
        display: flex
        flex-direction: column
        width: 100%

        &__item
          display: flex
          justify-content: space-between
          width: 100%

  .description
    margin-top: 50px
    text-align: center
